openapi: 3.1.0
info:
  title: Reportify API
  version: 1.0.0
  description: API documentation for Reportify's document management and search services.
servers:
  - url: https://api.reportify.cn
paths:
  /v1/search:
    post:
      tags:
        - openapi
      summary: Search Docs
      description: Search for documents based on specified criteria.
      operationId: search_docs_v1_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAISearchDocsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchDocsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/search/chunks:
    post:
      tags:
        - openapi
      summary: Search Chunks
      description: Perform semantic search on document chunks based on specified criteria.
      operationId: search_chunks_v1_search_chunks_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAISearchChunksRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchChunksResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/chat/completion:
    post:
      tags:
        - openapi
      summary: Chat Completion
      description: Provides answering based on document content.
      operationId: chat_completion_v1_chat_completion_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIChatCompletionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIChatCompletionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/docs:
    post:
      tags:
        - openapi
      summary: Query Docs
      description: Retrieve docs for the specified conditions
      operationId: query_docs_v1_docs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchDocsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []        
  /v1/docs/symbols:
    post:
      tags:
        - openapi
      summary: Query Docs By Symbols
      description: Retrieve docs for the specified symbols
      operationId: query_docs_by_symbols_v1_docs_symbols_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsSymbolsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchDocsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/docs/tags:
    post:
      tags:
        - openapi
      summary: Query Docs By Tags
      description: Retrieve docs for the specified tags
      operationId: query_docs_by_tags_v1_docs_tags_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsTagsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAISearchDocsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/docs/{doc_id}:
    get:
      tags:
        - openapi
      summary: Get Doc Contents
      description: Retrieve detailed content of the specified document, including chunks.
      operationId: get_doc_contents_v1_docs__doc_id__get
      parameters:
        - required: true
          schema:
            type: string
            title: Doc Id
          name: doc_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocContentsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/docs/{doc_id}/summary:
    get:
      tags:
        - openapi
      summary: Get Doc Summary
      description: Retrieve the summary of the specified document.
      operationId: get_doc_summary_v1_docs__doc_id__summary_get
      parameters:
        - required: true
          schema:
            type: string
            title: Doc Id
          name: doc_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocSummaryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/docs/folder/create:
    post:
      tags:
        - openapi
      summary: Create Folder
      description: OAI docs folder create
      operationId: create_folder_v1_docs_folder_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIFolderCreateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIFolderResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/docs/folder/delete:
    delete:
      tags:
        - openapi
      summary: Delete Folder
      description: OAI docs folder delete, include files in folder
      operationId: delete_folder_v1_docs_folder_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIFolderDeleteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIFolderDeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []        
  /v1/docs/upload:
    post:
      tags:
        - openapi
      summary: Docs Upload
      description: OAI docs upload
      operationId: docs_upload_v1_docs_upload_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsUploadRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsUploadResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/docs/upload/async:
    post:
      tags:
        - openapi
      summary: Docs Upload Async
      description: OAI docs upload async
      operationId: docs_upload_async_v1_docs_upload_async_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsUploadRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsUploadResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
  /v1/docs/{doc_id}/upload/status:
    get:
      tags:
        - openapi
      summary: Get Upload Docs Status
      description: OAI docs upload status
      operationId: get_upload_docs_status_v1_docs__doc_id__upload_status_get
      parameters:
        - required: true
          schema:
            type: string
            title: Doc Id
          name: doc_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsUploadStatusResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []        
  /v1/docs/delete:
    delete:
      tags:
        - openapi
      summary: Delete Docs
      description: OAI docs delete
      operationId: delete_docs_v1_docs_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAIDocsDeleteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAIDocsDeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []        
  /v1/concepts/latest:
    get:
      tags:
        - openapi
      summary: Get Latest Concepts
      description: get latest concepts
      operationId: get_latest_concepts_v1_concepts_latest_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConceptWithStocks'
                type: array
                title: Response Get Latest Concepts V1 Concepts Latest Get
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
components:
  schemas:
    OAIChatCompletionRequest:
      properties:
        query:
          type: string
          title: Query
        doc_ids:
          items:
            type: string
          type: array
          title: Doc Ids
          default: []
        mode:
          allOf:
            - $ref: '#/components/schemas/OAIChatMode'
          default: concise
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
          title: Categories
          default: []
        institutions:
          items:
            type: string
          type: array
          title: Institutions
          default: []
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
          title: Markets
          default: []
        symbols:
          items:
            type: string
          type: array
          title: Symbols
          default: []
        tags:
          items:
            $ref: '#/components/schemas/OAITag'
          type: array
          title: Tags
          default: []
        session_id:
          type: string
          title: Session Id
          default: ''
        stream:
          type: boolean
          title: Stream
          default: true
      type: object
      required:
        - query
      title: OAIChatCompletionRequest
    OAIChatCompletionResponse:
      properties:
        type:
          type: string
          title: Type
        message_id:
          type: string
          title: Message Id
        message:
          type: string
          title: Message
        extra:
          type: object
          title: Extra
          default: {}
      type: object
      required:
        - type
        - message_id
        - message
      title: OAIChatCompletionResponse
    OAIChatMode:
      type: string
      enum:
        - concise
        - comprehensive
        - deepresearch
      title: OAIChatMode
      description: An enumeration.
    OAIChunk:
      properties:
        type:
          $ref: '#/components/schemas/OAIChunkType'
        media_url:
          type: string
          title: Media Url
        content:
          type: string
          title: Content
        summary:
          type: string
          title: Summary
      type: object
      title: OAIChunk
    OAIChunkType:
      type: string
      enum:
        - text
        - table
        - image
        - formula
      title: OAIChunkType
      description: An enumeration.
    OAIChunkWithDoc:
      properties:
        type:
          $ref: '#/components/schemas/OAIChunkType'
        media_url:
          type: string
          title: Media Url
        content:
          type: string
          title: Content
        summary:
          type: string
          title: Summary
        doc:
          anyOf:
            - $ref: '#/components/schemas/OAIDocBase'
            - $ref: '#/components/schemas/OAIDoc'
          title: Doc
      type: object
      title: OAIChunkWithDoc
    OAIDoc:
      properties:
        doc_id:
          type: string
          title: Doc Id
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
        file_url:
          type: string
          title: File Url
        media_url:
          type: string
          title: Media Url
        institution:
          type: string
          title: Institution
        author:
          type: string
          title: Author
        published_at:
          type: integer
          title: Published At
        category:
          $ref: '#/components/schemas/OAIDocCategory'
        market:
          $ref: '#/components/schemas/OAIMarket'
        symbol:
          type: string
          title: Symbol
        company_name:
          type: string
          title: Company Name
        tags:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Tags
        metadatas:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Metadatas
      type: object
      required:
        - doc_id
        - title
        - url
        - file_url
        - published_at
      title: OAIDoc
    OAIDocBase:
      properties:
        doc_id:
          type: string
          title: Doc Id
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
      type: object
      required:
        - doc_id
        - title
        - url
      title: OAIDocBase
    OAIDocCategory:
      type: string
      enum:
        - filings
        - transcripts
        - reports
        - news
        - files
      title: OAIDocCategory
      description: An enumeration.
    OAIDocContentsResponse:
      properties:
        doc_id:
          type: string
          title: Doc Id
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
        file_url:
          type: string
          title: File Url
        media_url:
          type: string
          title: Media Url
        institution:
          type: string
          title: Institution
        author:
          type: string
          title: Author
        published_at:
          type: integer
          title: Published At
        category:
          $ref: '#/components/schemas/OAIDocCategory'
        market:
          $ref: '#/components/schemas/OAIMarket'
        symbol:
          type: string
          title: Symbol
        company_name:
          type: string
          title: Company Name
        tags:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Tags
        metadatas:
          additionalProperties:
            items: {}
            type: array
          type: object
          title: Metadatas
        chunks:
          items:
            $ref: '#/components/schemas/OAIChunk'
          type: array
          title: Chunks
      type: object
      required:
        - doc_id
        - title
        - url
        - file_url
        - published_at
      title: OAIDocContentsResponse
    OAIDocSummaryResponse:
      properties:
        doc_id:
          type: string
          title: Doc Id
        summary:
          type: string
          title: Summary
      type: object
      required:
        - doc_id
        - summary
      title: OAIDocSummaryResponse
    OAIDocsResponse:
      properties:
        total_count:
          type: integer
          title: Total Count
          default: 0
        total_page:
          type: integer
          title: Total Page
          default: 0
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        docs:
          items:
            $ref: '#/components/schemas/OAIDoc'
          type: array
          title: Docs
          default: []
      type: object
      title: OAIDocsResponse
    OAIMarket:
      type: string
      enum:
        - sz
        - sh
        - hk
        - us
      title: OAIMarket
      description: An enumeration.
    OAISearchChunksRequest:
      properties:
        query:
          type: string
          title: Query
        doc_ids:
          items:
            type: string
          type: array
          title: Doc Ids
          default: []
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
        institutions:
          items:
            type: string
          type: array
          title: Institutions
          default: []
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
          title: Markets
          default: []
        symbols:
          items:
            type: string
          type: array
          title: Symbols
          default: []
        tags:
          items:
            $ref: '#/components/schemas/OAITag'
          type: array
          title: Tags
          default: []
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
        num:
          type: integer
          title: Num
          default: 10
        include_doc_extra_details:
          type: boolean
          title: Include Doc Extra Details
          default: false
      type: object
      required:
        - query
      title: OAISearchChunksRequest
    OAISearchChunksResponse:
      properties:
        chunks:
          items:
            $ref: '#/components/schemas/OAIChunkWithDoc'
          type: array
          title: Chunks
          default: []
      type: object
      title: OAISearchChunksResponse
    OAISearchDocsRequest:
      properties:
        query:
          type: string
          title: Query
        mode:
          allOf:
            - $ref: '#/components/schemas/OAISearchMode'
          default: smart
        sort:
          allOf:
            - $ref: '#/components/schemas/OAISearchSort'
          default: smart          
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
        institutions:
          items:
            type: string
          type: array
          title: Institutions
          default: []
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
        symbols:
          items:
            type: string
          type: array
          title: Symbols
          default: []
        tags:
          items:
            $ref: '#/components/schemas/OAITag'
          type: array
          title: Tags
          default: []
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
      type: object
      required:
        - query
      title: OAISearchDocsRequest
    OAISearchDocsResponse:
      properties:
        total_count:
          type: integer
          title: Total Count
          default: 0
        total_page:
          type: integer
          title: Total Page
          default: 0
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        docs:
          items:
            $ref: '#/components/schemas/OAIDoc'
          type: array
          title: Docs
          default: []
      type: object
      title: OAISearchDocsResponse
    OAISearchMode:
      type: string
      enum:
        - smart
        - semantic
        - keywords
      title: OAISearchMode
      description: An enumeration.
    OAISearchSort:
      type: string
      enum:
        - smart
        - latest
      title: OAISearchSort
      description: An enumeration.
    OAITag:
      properties:
        key:
          type: string
          title: Key
        values:
          items:
            type: string
          type: array
          title: Values
      type: object
      required:
        - key
        - values
      title: OAITag      
    ErrorResponse:
      properties:
        code:
          type: integer
          title: Code
        message:
          type: string
          title: Message
      type: object
      required:
        - code
        - message
      title: ErrorResponse      
    OAIDocsRequest:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
        institutions:
          items:
            type: string
          type: array
          title: Institutions
          default: []          
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
        symbols:
          items:
            type: string
          type: array
          title: Symbols
          default: []
        tags:
          items:
            $ref: '#/components/schemas/OAITag'
          type: array
          title: Tags
          default: []
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
      type: object
      title: OAIDocsRequest      
    OAIDocsSymbolsRequest:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
        symbols:
          items:
            type: string
          type: array
          title: Symbols
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
      type: object
      required:
        - symbols
      title: OAIDocsSymbolsRequest
    OAIDocsTagsRequest:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/OAIDocCategory'
          type: array
        markets:
          items:
            $ref: '#/components/schemas/OAIMarket'
          type: array
        tags:
          items:
            type: string
          type: array
          title: Tags
        page_num:
          type: integer
          title: Page Num
          default: 1
        page_size:
          type: integer
          title: Page Size
          default: 10
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
      type: object
      required:
        - tags
      title: OAIDocsTagsRequest
    OAIDocsUploadRequest:
      properties:
        folder_id:
          type: integer
          title: Folder Id
          description: folder id, if not provided, use default folder
        docs:
          items:
            $ref: '#/components/schemas/OAIDocsUrlRequest'
          type: array
          title: Docs
      type: object
      required:
        - docs
      title: OAIDocsUploadRequest
    OAIDocsUploadResponse:
      properties:
        docs:
          items:
            $ref: '#/components/schemas/OAIDocsIdResponse'
          type: array
          title: Docs
      type: object
      required:
        - docs
      title: OAIDocsUploadResponse
    OAIDocsUploadStatusResponse:
      properties:
        id:
          type: string
          title: Id
        status:
          type: string
          title: Upload Status
          enum:
            - pending
            - processing
            - completed
            - failed
      type: object
      required:
        - id
        - status
      title: OAIDocsUploadStatusResponse      
    OAIDocsUrlRequest:
      properties:
        url:
          type: string
          title: Url
        name:
          type: string
          title: Name
          description: file name, if not provided, use URL file name
        metadatas:
          type: object
          title: Meta Datas
          description: document metadata, contains period and entities
          example:
            period: 2023Q4
            entities:
              - companyA
              - companyB
        published_at:
          type: integer
          title: Published At
          description: published at, if not provided, use current time
        tags:
          items:
            $ref: '#/components/schemas/OAITag'
          type: array
          title: Tags
          default: []
      type: object
      required:
        - url
      title: OAIDocsUrlRequest
    OAIDocsIdResponse:
      properties:
        id:
          type: string
          title: Id
        title:
          type: string
          title: Title
        original_url:
          type: string
          title: Original Url
      type: object
      required:
        - id
        - title
        - original_url
      title: OAIDocsIdResponse
    OAIFolderCreateRequest:
      properties:
        name:
          type: string
          title: Name
      type: object
      required:
        - name
      title: OAIFolderCreateRequest
    OAIFolderResponse:
      properties:
        folder_id:
          type: string
          title: Folder Id
      type: object
      required:
        - folder_id
      title: OAIFolderResponse
    OAIFolderDeleteRequest:
      properties:
        folder_id:
          type: string
          title: Folder Id
      type: object
      required:
        - folder_id
      title: OAIFolderDeleteRequest
    OAIFolderDeleteResponse:
      properties:
        doc_ids:
          items:
            type: string
          type: array
          title: Doc Ids
        folder_id:
          type: string
          title: Folder Id
      type: object
      required:
        - doc_ids
        - folder_id
      title: OAIFolderDeleteResponse
    OAIDocsDeleteRequest:
      properties:
        doc_ids:
          items:
            type: string
          type: array
          title: Doc Ids
      type: object
      required:
        - doc_ids
      title: OAIDocsDeleteRequest
    OAIDocsDeleteResponse:
      properties:
        doc_ids:
          items:
            type: string
          type: array
          title: Doc Ids
      type: object
      required:
        - doc_ids
      title: OAIDocsDeleteResponse      
    ConceptWithStocks:
      properties:
        concept_id:
          type: string
          title: Concept Id
        concept_code:
          type: string
          title: Concept Code
        concept_name:
          type: string
          title: Concept Name
        concept_desc:
          type: string
          title: Concept Desc
        concept_keywords:
          items:
            type: string
          type: array
          title: Concept Keywords
        concept_score:
          type: number
          title: Concept Score
        trending_score:
          type: number
          title: Trending Score
        scored_at:
          type: integer
          title: Scored At
        published_at:
          type: integer
          title: Published At
        first_detected:
          type: boolean
          title: First Detected
        stocks:
          items:
            $ref: '#/components/schemas/OAIConceptWithStocks'
          type: array
          title: Stocks
        docs:
          items:
            $ref: '#/components/schemas/OAIConceptWithDocs'
          type: array
          title: Docs
      type: object
      required:
        - concept_id
        - concept_name
      title: ConceptWithStocks
    OAIConceptWithStocks:
      properties:
        market:
          type: string
          title: Market
        code:
          type: string
          title: Code
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        relevance:
          type: number
          title: Relevance
      type: object
      title: OAIConceptWithStocks      
    OAIConceptWithDocs:
      properties:
        doc_id:
          type: string
          title: Doc Id
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
        relevance:
          type: number
          title: Relevance
      type: object
      title: OAIConceptWithDocs
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
security:
  - BearerAuth: []
