openapi: 3.0.0
info:
  title: Reportify API
  version: 1.0.0
  description: API documentation for Reportify's document management and search services.
servers:
  - url: https://api.reportify.cc
paths:
  /v1/search:
    post:
      summary: Search
      description: Search for documents based on specified criteria.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Search keywords.
                language:
                  type: string
                  enum: [all, chinese, english]
                categories:
                  type: array
                  items:
                    type: string
                  description: Document categories.
                markets:
                  type: array
                  items:
                    type: string
                  description: Market regions.
                institutions:
                  type: array
                  items:
                    type: string
                  description: Institutions to filter.
                symbols:
                  type: array
                  items:
                    type: string
                  description: Stock codes to filter.
                tags:
                  type: array
                  items:
                    type: string
                  description: Document tags.
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                mode:
                  type: string
                  enum: [smart, semantic, keywords]
                sort:
                  type: string
                  enum: [smart, latest]
                page:
                  type: integer
                  default: 1
                page_num:
                  type: integer
                  default: 10
              required:
                - query
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_num:
                    type: integer
                  total_page:
                    type: integer
                  total_num:
                    type: integer
                  docs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        url:
                          type: string
                        file_url:
                          type: string
                        media_url:
                          type: string
                        institution:
                          type: string
                        author:
                          type: string
                        published_at:
                          type: string
                          format: date-time
                        category:
                          type: string
                        type:
                          type: string
                        market:
                          type: string
                        symbol:
                          type: string
                        company_name:
                          type: string
                        logo:
                          type: string
                        summary:
                          type: string
                        tags:
                          type: object
                        metadatas:
                          type: object
  /v1/search/rag:
    post:
      summary: RAG Search
      description: Perform semantic search on documents based on specified criteria.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                doc_ids:
                  type: array
                  items:
                    type: string
                categories:
                  type: array
                  items:
                    type: string
                markets:
                  type: array
                  items:
                    type: string
                institutions:
                  type: array
                  items:
                    type: string
                symbols:
                  type: array
                  items:
                    type: string
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                num:
                  type: integer
                  default: 10
                include_doc_extra_detail:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Successful semantic search
          content:
            application/json:
              schema:
                type: object
                properties:
                  chunks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        media_url:
                          type: string
                        content:
                          type: string
                        summary:
                          type: string
                        doc:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            url:
                              type: string
                            file_url:
                              type: string
                            media_url:
                              type: string
                            institution:
                              type: string
                            author:
                              type: string
                            published_at:
                              type: string
                              format: date-time
                            category:
                              type: string
                            type:
                              type: string
                            market:
                              type: string
                            symbol:
                              type: string
                            company_name:
                              type: string
                            logo:
                              type: string
                            summary:
                              type: string
                            tags:
                              type: object
                            metadatas:
                              type: object
  /v1/chat/completion:
    post:
      summary: Completion
      description: Provides answering based on document content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                doc_ids:
                  type: array
                  items:
                    type: string
                mode:
                  type: string
                  enum: [concise, research, agent]
                session_id:
                  type: string
                stream:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Successful Q&A response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  message_id:
                    type: string
                  message:
                    type: string
                  extra:
                    type: object
  /v1/contents/{doc_id}:
    get:
      summary: Contents
      description: Retrieve detailed content of the specified document, including chunks.
      parameters:
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document content retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  doc:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                      url:
                        type: string
                      file_url:
                        type: string
                      media_url:
                        type: string
                      institution:
                        type: string
                      author:
                        type: string
                      published_date:
                        type: string
                        format: date
                      category:
                        type: string
                      type:
                        type: string
                      market:
                        type: string
                      symbol:
                        type: string
                      company_name:
                        type: string
                      logo:
                        type: string
                      summary:
                        type: string
                      chunks:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            media_url:
                              type: string
                            content:
                              type: string
                            summary:
                              type: string
                            tags:
                              type: object
                            metadatas:
                              type: object
                      tags:
                        type: object
                      metadatas:
                        type: object
  /v1/contents/{doc_id}/summary:
    get:
      summary: Contents Summary
      description: Retrieve the summary of the specified document.
      parameters:
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document summary retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  doc_id:
                    type: string
                  summary:
                    type: string
  /v1/folders/create:
    post:
      summary: Folders
      description: Create a new folder.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        '200':
          description: Folder created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
  /v1/docs/upload:
    post:
      summary: Upload
      description: Synchronously upload a single document to a specified folder.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                folder_id:
                  type: string
                name:
                  type: string
                path:
                  type: string
                metadatas:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: string
              required:
                - folder_id
                - name
                - path
      responses:
        '200':
          description: Document uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
  /v1/docs/upload/batches:
    post:
      summary: Upload Batches
      description: Synchronously batch upload up to 10 documents to a specified folder.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                folder_id:
                  type: string
                docs:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      path:
                        type: string
                      metadatas:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                    required:
                      - name
                      - path
              required:
                - folder_id
                - docs
      responses:
        '200':
          description: Batch documents uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  docs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
security:
  - BearerAuth: []
